body{
  margin:0;
  font-family:Verdana;
  background:linear-gradient(to bottom,#0f2027,#203a43,#2c5364);
  color:white;
  text-align:center;
}

.game{
  width:400px;
  margin:40px auto;
  padding:20px;
  background:#1e1e2f;
  border-radius:15px;
  box-shadow:0 0 20px black;
}

button{
  margin:10px;
  padding:10px 18px;
  border:none;
  border-radius:8px;
  font-weight:bold;
  cursor:pointer;
  background:#ff5722;
  color:white;
}

button:hover{
  background:#e91e63;
}

.health-bar{
  width:100%;
  height:20px;
  background:#555;
  border-radius:10px;
  margin:10px 0;
}

#healthFill{
  height:100%;
  width:100%;
  background:limegreen;
  border-radius:10px;
  transition:0.3s;
}

.restart{
  background:#2196f3;
}
